
.NP {
  color: green;
}

.aNP {
  color: lightgreen;
}

.V {
  color: red;
}

.P {
  color: pink;
}

.G {
  color: blue;
}

.SConj {
  color: black;
  font-weight: bold;
}

/*
// noun, preposition, gerund, verb, adjective, adverb, conjunction, subordinating conjunction, relative pronoun
N, P, G, V, Adj, Adv, Conj, SConj, Rp,

// phrases, determinate and indeterminate sets
 NP,  PP,  GP, VP,
aNP, aPP, aGP,

// adjective-noun combo, NP-PP combos, partially-applied function (combination of 1+ aNP/aPP with 1+ NP/PP)
AdN, NPPP, aNPPP, paF,

// lists: list of NPs, list of Operations, an "an X, a Y and a Z" list, list delimiter
NPs, ConjNP,
Ops, ConjOp,
XYZ,
comma,

// infinitive and helping verbs
To, IV, IsHas, HV,

// relative clause, dependent (subordinate) clause 
RC, DC,

// Subject-Verb, Subject-Verb-Object(s), Verb-Object(s)  (determinate and indeterminate)
SV, SVO, VO,
aSV, aSVO, aVO,

// "to verb (params)", "by/via/:/,", imperative function body 
tVO, colon, body,

// temporal relation (whole sentence), define object, define function, define variable/instance
TR, DeObj, DeFun, DeVar,

*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: tan;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: tan}

.dropdown:hover .dropdown-content {
  display: block;
}
