/* layout */

html {
  font-family: Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: tan;
}

#main {
  line-height: 1.7em;
  font-size: smaller;
}

#glossary {
  font-size: smaller;
}

.leftsidebar {
  min-width: 178px;
  min-height: 500px;
}

.term {
  font-weight: bold;
}
