/* layout */

html {
  font-family: Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: tan;
}

#main {
  line-height: 1.7em;
  font-size: smaller;
}

.leftsidebar {
  min-width: 178px;
  min-height: 500px;
}

.panel {
  background-color: hsl(39deg 77% 90%); /* "light wheat" */
  border-radius: 10px;
  border: 2px solid white;
  margin: 10px;
  padding: 14px;
}
