.Def {
  color: green;
}
.Det {
  color: lightgreen;
}

.N {
  color: #42a142;
}

.NP {
  color: green;
}

.aNP,
.aNPPP {
  color: lightgreen;
}

.Adj {
  color: blueviolet;
}

.V {
  color: red;
}

.P,
.To {
  color: grey;
}

.G {
  color: blue;
}

.SConj {
  color: black;
  font-style: italic;
}

/* cell background */

tr .cellback {
  font-size: 0.6rem;
}

.unknownWord {
  border-bottom: 1px dotted red;
}

.unknownGrammar {
  border-bottom: 1px dotted blue;
}

.normal {
  font-size: 1rem;
}

.Def_cellback {
  font-size: 0.6rem;
  background-color: green;
  color: white;
}

.Det_cellback {
  font-size: 0.6rem;
  background-color: lightgreen;
  color: white;
}

.Adj_cellback {
  font-size: 0.6rem;
  background-color: blueviolet;
  color: white;
}

.N_cellback,
.number_cellback,
.percentage_cellback {
  font-size: 0.6rem;
  background-color: #42a142;
  color: white;
}

.NP_cellback {
  font-size: 0.6rem;
  background-color: green;
  color: white;
}

.aNP_cellback,
.aNPPP_cellback {
  font-size: 0.6rem;
  background-color: lightgreen;
  color: white;
}

.aPP_cellback {
  font-size: 0.6rem;
  background-color: grey;
  color: white;
}

.SV_cellback {
  font-size: 0.6rem;
  background-color: silver;
  color: white;
}

.V_cellback {
  font-size: 0.6rem;
  background-color: red;
  color: white;
}

.P_cellback,
.To_cellback {
  font-size: 0.5rem;
  background-color: grey;
  color: white;
}

.PP_cellback {
  font-size: 0.5rem;
  background-color: #eeee66;
  color: white;
}

.IV_cellback {
  font-size: 0.5rem;
  background-color: #ff6666;
  color: white;
}

.G_cellback {
  font-size: 0.6rem;
  background-color: blue;
  color: white;
}

.SConj_cellback {
  font-size: 0.6rem;
  background-color: black;
  color: white;
  font-weight: bold;
}

.paF_cellback {
  font-size: 0.6rem;
  background-color: rgb(126, 97, 19);
  color: white;
}

.DeFun_cellback {
  font-size: 0.6rem;
  background-color: teal;
  color: white;
}

.Ops_cellback {
  font-size: 0.6rem;
  background-color: #115555;
  color: white;
}

.VO_cellback {
  font-size: 0.6rem;
  background-color: #22cccc;
  color: white;
}

.tVO_cellback {
  font-size: 0.6rem;
  background-color: #88cccc;
  color: white;
}

.aVO_cellback {
  font-size: 0.6rem;
  background-color: #33ffff;
  color: white;
}

.Conj_cellback {
  font-size: 0.5rem;
  background-color: grey;
  color: white;
}

.DC_cellback {
  font-size: 0.5rem;
  background-color: #3b3b3b;
  color: white;
}

/*
// noun, preposition, gerund, verb, adjective, adverb, conjunction, subordinating conjunction, relative pronoun
N, P, G, V, Adj, Adv, Conj, SConj, Rp,

// phrases, determinate and indeterminate sets
 NP,  PP,  GP, VP,
aNP, aPP, aGP,

// adjective-noun combo, NP-PP combos, partially-applied function (combination of 1+ aNP/aPP with 1+ NP/PP)
AdN, NPPP, aNPPP, paF,

// lists: list of NPs, list of Operations, an "an X, a Y and a Z" list, list delimiter
NPs, ConjNP,
Ops, ConjOp,
XYZ,
comma,

// infinitive and helping verbs
To, IV, IsHas, HV,

// relative clause, dependent (subordinate) clause 
RC, DC,

// Subject-Verb, Subject-Verb-Object(s), Verb-Object(s)  (determinate and indeterminate)
SV, SVO, VO,
aSV, aSVO, aVO,

// "to verb (params)", "by/via/:/,", imperative function body 
tVO, colon, body,

// temporal relation (whole sentence), define object, define function, define variable/instance
TR, DeObj, DeFun, DeVar,

*/
