/* "grammar popup" is the very large hovering panel that shows a sentence diagram.  */
/* "tooltip" is the more traditional small, single-line, no-HTML hovering panel */

.hasGrammarPopup {
  position: relative;
}

.hasGrammarPopup .grammarPopup {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-70%);

  /* cosmetic */
  background-color: hsl(39deg 77% 90%); /* "light wheat" */
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 2px 2px 7px 2px tan;
  margin: 0px;
  padding: 5px;
}

.hasGrammarPopup:hover .grammarPopup {
  display: block;
}

.hasTooltip {
  position: relative;
  display: inline-block;
}

.hasTooltip .tooltip {
  display: none;
  border-style: solid;
  border-radius: 6px;
  border-width: 5px;
  border-color: darkgray;
  background-color: darkgray;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
}

.hasTooltip:hover .tooltip {
  display: block;
}
